.cabcard-body{
         padding: 10px;
         box-sizing: border-box;
         border: 1px solid #6d8de2;
         border-radius: 5px;
         background-color: #c0cef7;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         width: 25rem;
         /* position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-140%, -40%); */
}
.cabcard{
         padding: 8px;
         border: 1px solid #6d8de2;
         border-radius: 5px;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cabcard-header{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items:center;
         font-size: medium;
         font-weight: bold;
         margin-bottom: 10px;
}

.cabcard-header div{
         border: 1px solid #050505;
         border-radius: 4px;
         padding: 6px;
         background-color: rgb(70, 145, 70);
         color: #fffbfb;
         box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
         
}
.cabcard-body{
         margin-bottom: 10px;
}
.cabcard-footer{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
}
.cabcard-footer div{
         border: 1px solid #050505;
         border-radius: 4px;
         padding: 6px;
         background-color: rgb(90, 92, 212);
         color: #fffbfb;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         cursor: pointer;
}

.cabcard-content p img{
         height: 14px;
         width: 14px;
}
.no-results {
         text-align: center;
         padding: 2rem;
         font-size: 1.2rem;
         color: #666;
         width: 100%;
         background-color: #f9f9f9;
         border-radius: 8px;
         margin: 1rem auto;
 }
       